.DS_Store
.project


*.pyc
core/config/develop.py
__pycache__

tags
*.tags*
dump.rdb

*.idea*
*.vscode*
venv/
*.pid
celerybeat-schedule.bak
celerybeat-schedule.dat
celerybeat-schedule.dir
*.xml
*.iml
.idea/
